:root {
  --background: #ffffff;
  --foreground: #171717;
  --weapon-background-color: orange;
  --vitality-background-color: green;
  --spirit-background-color: purple;
  /* https://codepen.io/sosuke/pen/Pjoqqp to calculate the filters based on input color */
  --item-weapon-symbol-color: brightness(0) saturate(100%) invert(72%) sepia(76%) saturate(2353%) hue-rotate(348deg) brightness(95%) contrast(94%);
  --item-spirit-symbol-color: brightness(0) saturate(100%) invert(57%) sepia(53%) saturate(1444%) hue-rotate(220deg) brightness(108%) contrast(102%);
  --item-health-symbol-color: brightness(0) saturate(100%) invert(79%) sepia(26%) saturate(2748%) hue-rotate(95deg) brightness(104%) contrast(104%);
  --item-weapon--header: #C97A03;
  --item-vitality--header: rgb(38, 206, 38);
  --item-spirit--header: rgb(197, 39, 197);
  --item-weapon--components: brightness(0) saturate(100%);
  --item-weapon--background: brightness(0) saturate(100%);
  --item-weapon--passive: brightness(0) saturate(100%);
  --item-weapon--stat-background: brightness(0) saturate(100%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

main {
  flex-grow: 1;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}