.active {
  text-shadow: 0px 0px 1px currentColor;  
}

.items-container {
  display: flex;
  flex-direction: column;
}

.tabs-container {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.tab-content--container {
  display: inline-flex;
  gap: 0.5rem;
  position: relative;
}

.tab-container {
  padding: 0.75rem 1.25rem;
  border-radius: 3px 3px 0 0;
  overflow: hidden;
  border-top: solid transparent 2px;
  color: black;
  transition: filter 100ms linear, text-shadow 100ms linear;
}

.tab-container:hover {
  filter: brightness(0.8);
  text-shadow: 0px 0px 1px currentColor;
}