.container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  --main-width: 400px;
  --icon-size: 35px;
}

.container--general {
  display: flex;
  flex-direction: column;
  width: fit-content;
  background-color: orangered;
  overflow: hidden;
  border-radius: 8px;
}

.container--item {
  width: var(--main-width);
}

.container--modifies {
  width: calc(var(--main-width) * (3 / 4));
}

.basic-info--container {
  display: flex;
  justify-content: space-between;
}

.item-info-tab {
  display: flex;
  flex-direction: column;
  column-gap: 1rem;
  padding: 1rem;
  word-break: break-word;
  position: relative;
}

.item-info-tab.stats::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: inherit;
  filter: brightness(70%);
  z-index: 0;
}

.item-info-tab.weapon-header {
  background-color: var(--item-weapon--header);
}

/* .item-info-tab--stats {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  z-index: 1;
} */

.item-info-tab--stats {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 0.25rem;
  column-gap: 0.5rem;
  z-index: 1;
}

.item-info-tab--stats-row {
  display: contents;
}

.item-info-tab--passive-stats-container {
  display: grid;
  gap: 0.5rem;
}

.item-info-tab--passive-stats--general-container {
  width: fit-content;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  z-index: 1;
}

.item-info-tab--passive-stats--general-row {
  gap: 0.5rem;
}

.item-info-tab--passive-stats--extra-container {
  display: flex;
  grid-column: 1 / -1;
  gap: 0.5rem;
}

.item-info-tab--passive-stats--extra-row {
  display: flex;
  gap: 0.5rem;
}

.item-info-tab--component-container {
  display: flex;
  flex-direction: column;
}

.item-info-tab--component-icon--container {
  display: flex;
  flex-direction: row;
  border: rgba(0,0,0, 0.5) solid 2px;
  border-radius: var(--icon-size);
  align-items: center;
  width: fit-content;
  height: var(--icon-size);
  position: relative;
}

.item-info-tab--component-icon--icon {
  position: relative;
}

.item-info-tab--component-icon--name {
  margin: 0  1rem 0 calc(var(--icon-size) - 5px + 0.5rem);
}

.item-info-tab--component-icon--icon-container {
  border-radius: 50%;
  background-color: black;
  z-index: 2;
  width: var(--icon-size);
  height: var(--icon-size);
  display: flex;
  align-items: center;
  justify-content: center;
  left: -2px;
  position: absolute;
}

.item-info-tab--title {
  padding-left: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  position: relative;
}

.item-info-tab--title-cooldown {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  background-color: black;
}

.basic-info--name {
  display: inline-flex;
  flex-direction: column;
}

.basic-info--name-cost {
  display: inline-flex;
  align-items: center;
}

.basic-info--stats {
  display: inline-flex;
  flex-direction: column;
}

.item-info-tab--background-wrapper--stats {
  position: relative;
  background-color: inherit;
}

.item-info-tab--background-wrapper--stats::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: inherit;
  filter: brightness(70%);
  z-index: 0;
}

.item-info-tab--background-wrapper--stats-individual {
  position: relative;
  background-color: inherit;
}

.item-info-tab--background-wrapper--stats-individual::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: inherit;
  filter: brightness(65%);
  z-index: 0;
}

.item-info-tab--background-wrapper--passive-title {
  position: relative;
  background-color: inherit;
}

.item-info-tab--background-wrapper--passive-title::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: inherit;
  filter: brightness(60%);
  z-index: 0;
}